<body>
<nav>  <!-- 1)This is a Semantic HTML Change -->

  <div class="heading">

    <h4>Network Based Application development</h4>

  </div>

  <ul class="nav-links">

    <!-- 1)This is an A11y Change -->
    <li><a [routerLink]="['/']" role="link" aria-label="Homepage">Homepage</a></li>
    <li>
      <a [routerLink]="['/about']" role="link" aria-label="AboutPage">About</a>
    </li>
    <li>
      <a [routerLink]="['/login']" role="link" aria-label="LoginPage">Login</a>
    </li>
  </ul>

</nav>
</body>

